@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Arvo);


/* Body and structure
-------------------------------------------------- */

html {
	overflow-y: scroll;
}

body {
  background: #F3F3F3 url('/furley_bg.png');
  position: relative;	
	font-family: 'Arvo', serif;
  color:#595559;
}

a {
	color:#1A5575;
}

a:hover {
	opacity:0.7;
}


input.required {
	border-color:red;
}

input:focus:required:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
input:required:valid, textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.caps {
	text-transform:uppercase;
}


#sidebar {	
	min-width:275px;
	max-width:450px;
}

.sidebar {
	display:block;
	margin-top:-10px;
	padding:80px 30px 10px;
    background-color: #fff;-moz-border-radius-bottomright: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.05);
   -moz-box-shadow:  inset   0 0 10px #BDB9B9;
   -webkit-box-shadow: inset 0 0 10px #BDB9B9;
   box-shadow:         inset 0 0 10px #BDB9B9;
  position:relative;
}

.container-fluid{padding-right:10px;}
.page-wrap {
}

.content {
	padding:0px 15px 30px;
	color:#595559;
	font-size:11px;
	line-height:0px;
}

#streakLogo {
	border-bottom:2px solid #595559;
	background:#fff url('/RedX_head.png')  0px 0px repeat-x;
	position:absolute;
	top:40px;
	height:20px;
	width:75%;
	left:30px;
	z-index:1;
}


h1#main-head {
top:20px;
right:30px;
text-shadow: 0px 1px 1px #000;
font-family: 'Playball', cursive;
font-size:50px;
margin:10px 0 20px;
text-align:right;
background-color:rgba(250,250,250,0.75);
border-radius:20px;
z-index:10;
position:absolute;
-webkit-font-smoothing: antialiased;

}

.sidebar .lead {
	margin-bottom:20px;
	-webkit-font-smoothing: antialiased;
}

.sidebar h3 {
	margin-bottom:5px;
	-webkit-font-smoothing: antialiased;
}


/* user sign in/etc
-------------------------------------------------- */


.sidebar .sign-in i{
	margin-top:3px;
	margin-left:-10px;
	position:absolute;
}

.sidebar .sign-in {
	margin-top:5px;
	padding-left:5px;
	font-size:14px;
	text-align:center;
}



.sidebar #login-buttons .login-link-and-dropdown-list{
	right:0px;
}


.currentUser{
	margin-bottom:-5px;
}


.currentUser #login-buttons .login-header {
	font-size:20px;
	padding-left:5px;
	font-family: 'Playball', cursive;
	margin-bottom:10px;
}

.currentUser  #login-buttons #login-buttons-logout {
	float:right;
	left:-10px;
	position:relative;
	background:none;
	text-shadow:none;
	font-size:100%;
	font-family:'Arvo', serif;
	color:#595559;
  -webkit-transition: all 0.1s ease-in-out; 
     -moz-transition: all 0.1s ease-in-out; 
       -o-transition: all 0.1s ease-in-out; 
          transition: all 0.1s ease-in-out;
bottom:-5px;
}

.currentUser  #login-buttons #login-buttons-logout:hover {
	background-color:rgba(89, 85, 89, 0.75);
	color:#fff;
}


footer {
 	 margin:25px 0 15px;
}
footer ul.breadcrumb {
	background:none;
	border:none;
	box-shadow:none;
	font-variant:small-caps;
	font-size:14px;
	margin:5px auto;
	width:200px;
}


/*quote at bottom*/
.sidebar blockquote {
	margin-top:30px;
	border-color:#fff;
}
/* calendar
-------------------------------------------------- */


#calendar {
}


#calendar .header {
font-size:14px;
	height:60px;
	margin-top:-5px;
}

#calendar .header .pager a{
	border-radius:3px;
	padding:8px 20px 5px;
   -moz-box-shadow:    inset 0 0 10px #BDB9B9;
   -webkit-box-shadow: inset 0 0 10px #BDB9B9;
   box-shadow:         inset 0 0 10px #BDB9B9;
border: 1px solid rgba(0, 0, 0, 0.05);
	font-variant:small-caps;
	font-weight:bold;
}


#calendar .header .pager li.span6 a{
	width:50%;
}

#calendar .header li h3 {
	line-height:35px;
}


.year{
	font-size:42px;
	line-height:140px;
	vertical-align:bottom;
	text-shadow: 0px 1px 1px #000;
	font-family: 'Playball', cursive;
	
	}	

.month{
font-size:108px;	font-family: 'Playball', cursive;

margin:30px 20px 30px 0;
text-shadow: 0px 1px 1px #000;

}

.time{
	font-size:20px;
	text-align:center;
}


.calendar TH{
	text-align:center;
}


.calendar TR {
  -webkit-transition: all 0.1s ease-in-out; 
     -moz-transition: all 0.1s ease-in-out; 
       -o-transition: all 0.1s ease-in-out; 
          transition: all 0.1s ease-in-out;
}


.calendar TR:hover {
 background-color:rgba(250,250,250,0.45);
color: #595559;
}


.calendar TR:hover TD {
color: #595559;
}

.calendar TD{
	position:relative;
	height:75px;
	font-size:24px;
	  -webkit-transition: all 0.1s ease-in-out; 
	     -moz-transition: all 0.1s ease-in-out; 
	       -o-transition: all 0.1s ease-in-out; 
	          transition: all 0.1s ease-in-out; 
	min-width:65px;
	max-width:70px;
	
}

.calendar TD.weekend{
	color:#999;
}

.calendar TD.today{
	color:#558071;
  -webkit-box-shadow:inset  0px 0px 6px 0px rgba(85,128,113, 0.4);
          box-shadow:inset  0px 0px 6px 0px rgba(85,128,113, 0.4);

}


.calendar TD i{
	display:none;
}
.calendar TD.completed  {
	position:relative;
}

/*check marks*/
.calendar TD.completed i {
	display:inline-block;
	float:left;
}

.calendar TD #dateInner {
	max-width:120px;
}


/* webkit specific stuff for calendar nice =) */

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
	

	.time{
		font-family: Lucida Grande;
	        background-color: #1A5575;
	        -webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	        color: transparent;
	        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}


	.calendar TD{
		font-family: Lucida Grande;
	        background-color: #595559;
	        -webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	        color: transparent;
	        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

	} 
	
	.calendar TD.weekend {
        color: transparent;
		background-color:#999;
	}
	
	.calendar TD.today {
	    color: transparent;
		background-color:#558071;
	}
}




.calendar TD.completed #checkMark{
    color: #666;
	z-index:-1;
	background: url('/RedX.png') center center no-repeat;
	background-size: 80px 80px;
	width:80px;
	height:80px;
	margin-top:-20px;
	position:absolute;
	margin-left:0px;
	
}

/* habit lists
-------------------------------------------------- */

.habits {
	margin-top:50px;
}

#new-habit-box {
    font-size: 160%;
    position: relative;
}

#new-habit {
}

#item-list {
	width:100%;
    margin-left: 0px;
	height:100%;
}

#item-list .habit {
    position: relative;
	cursor:pointer;
	width:100%;
	font-size:14px;
	font-weight:500;
	color:#FF0000;
	
}

#item-list .habit .streak i{
	display:none;
	position:relative;
}
#item-list .habit .streak.hot i{
	opacity:1;
	display:inline-block;
}


#item-list .habit .display, #item-list .habit .edit {
    height: 30px;
    width: 100%;
    float: left;
    padding-top: 10px;
    line-height: 1;
	position:relative;
}

#item-list .habit .edit  {
margin:-7px 0 0px 0px;
    line-height: 1.5em;
}

#item-list li {
	list-style-type:none;
}



#item-list .done .habit-text {
    text-decoration: line-through;
    color: #BDB9B9;
}


#item-list .habit .display i {
	opacity:0;
	  -webkit-transition: all 0.3s ease-in; 
	     -moz-transition: all 0.3s ease-in; 
	       -o-transition: all 0.3s ease-in; 
	          transition: all 0.3s ease-in; 
	padding-left:1px;
	
}


#item-list .habit .display i.check {
	opacity:0.5;
}

#item-list .habit:hover  .display i {
opacity:0.7;
}


#item-list .habit .date-controls {
float:left;
}



#item-list .habit.done .display i.check {
	opacity:1;
}

#item-list .habit .item-tags i  {
	opacity:.5;
}


#item-list .habit .item-tags:hover ,#item-list .habit .item-tags i:hover  {
opacity:1;
}

#item-list .habit .item-tags {
    overflow: auto;
    float: left;
	font-size:12px;
	margin:-10px 0px 0px 0px;
}


#item-list .habit .item-tags:hover .tag {
	opacity:1;
}

#item-list .habit .item-tags .tag {
	display:inline-block;
}

#item-list .habit .item-tags .removable_tag {
    padding:0 15px 0 3px;
	  -webkit-transition: all 0.1s ease-in; 
	     -moz-transition: all 0.1s ease-in; 
	       -o-transition: all 0.1s ease-in; 
	          transition: all 0.1s ease-in;
	position:relative;
	color:#BDB9B9;
border: 1px solid rgba(0, 0, 0, 0.05);
margin-bottom:5px;
}

#item-list .habit .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 16px;
    background: url("/close_16.png") no-repeat 0 center;
}

#item-list .habit .item-tags .tag:hover .remove {
    background-position: -16px center;
}

#item-list .habit .item-tags div.addtag {
    background: none;
    color: #333;
	padding-right:24px;
}

#item-list .habit .habit-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#edittag-input {
    width: 80px;
}

.well {
	
    background-color: #fff;-moz-border-radius-bottomright: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.05);
   -moz-box-shadow:  inset   0 0 10px #BDB9B9;
   -webkit-box-shadow: inset 0 0 10px #BDB9B9;
   box-shadow:         inset 0 0 10px #BDB9B9;
}

.tag {
	cursor:pointer;
	text-transform:capitalize;
	font-variant:small-caps;
}

#tag-filter .tag {
background-color: #BDB9B9;
border: 1px solid #2C0311;
	font-size:15px;
	line-height:15px;
	padding: 4px 7px 4px 7px;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4),0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4),0 1px 1px rgba(0, 0, 0, .2);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
	padding: 4px 7px 4px 7px;
}



	#tag-filter  .badge {
		position:relative;
		top:-1px;
		padding-top:2px;
	}


#tag-filter .selected, #tag-filter .tag:hover {
	background-color: #558071;
	color:#fff;
}

#tag-filter .selected .badge {
	color:#333;
}
.toggle-privacy-wrapper {
    float: right;
    width: 110px;
}

.toggle-privacy {
    margin-top: 15px;
    float: right;
    cursor: pointer;
}

.login-bar {
    float: right;
    /* center login buttons vertically in our top bar */
    padding: 10px 10px 0px 0px;
}

