@import url(http://fonts.googleapis.com/css?family=Playball);


/* Body and structure
-------------------------------------------------- */

html {
	overflow-y: scroll;
}

body {
  background-color: #F3F3F3;
  position: relative;
  font-family: 'PT Sans',Helvetica,sans-serif;
}


input.required {
	border-color:red;
}

input:focus:required:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
input:required:valid, textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.caps {
	text-transform:uppercase;
}

.sidebar {
	padding:20px;
    background-color: #fff;
	position:fixed;
	height:100%;
	border-left: 1px solid #E2E2E2;
}

.page-wrap {
}

.content {
	border-bottom: 1px solid #E2E2E2;
	padding:30px 15px;
	color:#444;
	font-size:11px;
	line-height:0px;
}




/* calendar
-------------------------------------------------- */


#calendar {
}
.year{
	font-size:42px;
	line-height:132px;
	vertical-align:bottom;
	text-shadow: 0px 1px 1px #000;
	font-family: 'Playball', cursive;
	
	}	

.month{
font-size:108px;	font-family: 'Playball', cursive;

margin:30px 20px 30px 0;
text-shadow: 0px 1px 1px #000;

}

.time{
	font-size:36px;
	text-align:center;
}


.calendar TR:hover TD{
	background-color:#fff;
	color:#333;
}

.calendar TD{
	position:relative;
	height:75px;
	font-size:24px;
}

.calendar TD.weekend{
	color:#999;
}

.calendar TD.today{
	color:#009999;
	border:1px solid #009999;
}


.calendar TD i{
	display:none;
}
.calendar TD.completed i {
	display:block;
}


/* webkit specific stuff for calendar nice =) */

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
	

	.time{
		font-size:36px;
		text-align:center;
		font-family: Lucida Grande;
	        background-color: #666666;
	        -webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	        color: transparent;
	        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}


	.calendar TD{
		font-family: Lucida Grande;
	        background-color: #333;
	        -webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	        color: transparent;
	        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

	} 
	
	.calendar TD.weekend {
        color: transparent;
		background-color:#999;
	}
	
	.calendar TD.today {
	    color: transparent;
		background-color:#009999;
	}
}


.calendar TD.completed #checkMark{
    color: #666;
	background:url('/Red_x.png') center center no-repeat;
	background-size: 65px 65px;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
}

/* habit lists
-------------------------------------------------- */

.habits {
	margin-top:50px;
}

#new-habit-box {
    font-size: 160%;
    position: relative;
}

#new-habit {
   position: absolute;
   width: 100%;
}

#item-list {
	border-top: 1px solid #ccc;
	width:100%;
    margin-left: 0px;
}

#item-list .habit {
    overflow: hidden;
    position: relative;
}

#item-list .habit .destroy {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 25px;
    height: 20px;
    width: 20px;
}

#item-list .habit .display, #item-list .habit .edit {
    margin-left: 30px;
    height: 100%;
    width: 100%;
    float: left;
    padding-top: 10px;
    line-height: 1;
}

#habit-input {
    top: -3px;
	position:relative;
	width:200px;
}

#item-list .done .habit-text {
    text-decoration: line-through;
    color: #999;
}

#item-list .habit:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .habit .destroy:hover {
    background-position: 0 -20px;
}

#item-list .habit .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .habit .item-tags .tag {
    margin-top: 15px;
}

#item-list .habit .item-tags .removable_tag {
    padding-right: 22px;
}

#item-list .habit .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 16px;
    background: url("/close_16.png") no-repeat 0 center;
}

#item-list .habit .item-tags .tag .remove:hover {
    background-position: -16px center;
}

#item-list .habit .item-tags div.addtag {
    background: none;
    color: #333;
    border: 1px dashed #999;
}

#item-list .habit .check {
    float: left;
    width: 25px;
}

#item-list .habit .habit-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#item-list .habit .edit input {
    margin-left: 35px;
}

#edittag-input {
    width: 80px;
}

#tag-filter .tag {
	font-size:15px;
	line-height:15px;
	cursor:pointer;
	text-transform:capitalize;
	font-variant:small-caps;
	background-color: #CCC;
	border: 1px solid #2C0311;
	padding: 4px 7px 4px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4),0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4),0 1px 1px rgba(0, 0, 0, .2);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

	#tag-filter  .badge {
		position:relative;
		top:-1px;
		padding-top:2px;
	}


#tag-filter .selected {
	background-color: #006363;
	color:#fff;
}

#tag-filter .selected .badge {
	color:#333;
}
.toggle-privacy-wrapper {
    float: right;
    width: 110px;
}

.toggle-privacy {
    margin-top: 15px;
    float: right;
    cursor: pointer;
}

.login-bar {
    float: right;
    /* center login buttons vertically in our top bar */
    padding: 10px 10px 0px 0px;
}

